{% extends 'header.html' %}

{% block body %}

<div class="container pt-3">
  {% from "security/_macros.html" import render_field_with_errors, render_field %}
<h1>Register</h1>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email, class_="form-control")}}
  {{ render_field_with_errors(register_user_form.user_type, class="form-control hidden") }}
  <label for="usertype">Select user type</label>
  <select class="form-control" id="usertype">
          <option value="student">Student</option>
          <option value="staff">Staff</option>
   </select>
  {{ render_field_with_errors(register_user_form.password, class_="form-control")}}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm, class_="form-control") }}
  {% endif %}
  {{ render_field(register_user_form.submit, class_="btn btn-primary btn-lg") }}
</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
	$("#user_type").hide()
	$("label[for='user_type']").hide()

    $("form[name=register_user_form]").submit(function(e){
    	userType = $("#usertype").val()
    	$("#user_type").val(userType)
    	// alert(userType)
    })
</script>

{% endblock %}
