{% extends 'header.html' %}

{% block body %}

<div class="container pt-3">
<ul class="nav nav-pills nav-fill flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="/dashboard">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/staff/students">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/staff/attendance">Attendance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/staff/attendance/records">Records</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/timetable">Timetable</a>
  </li>
</ul>
<div class="content pt-3">
 Hello Staff
</div>
</div>
{% endblock %}
